{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود کاربر</title>
    <link rel="stylesheet" href="{% static 'account/asset/style/login.css' %}">

</head>
<body>
    <div class="main-div">
        <h2>ورودکاربر</h2>
        <a class="a-style" href="">+میخواهم حساب کاربری بسازم</a>
        <form method="post" >
            {% csrf_token %}
            <input class="input" type="text" name="username" id="username" placeholder="نام کاربری">
            <input class="input" type="password" name="password" id="password" placeholder="رمز کاربری">
            <div class="form-div">
                <input type="checkbox" name="" id="" >
                <p>من را بخاطر بسپار</p>
            </div>
            <button type="submit" class="login-btn">ورود به پنل</button>
       </form>
        <button  class="login-btn btn">فراموشی رمز عبور</button>

    </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>