{% extends 'base/base.html' %}
{% load static %}

{% block content %}
 <main>
        <section id="image" class="m-auto">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

                <div class="carousel-inner">

                    {% for slider in sliders %}
                      <div class="carousel-item {% if forloop.counter is 1 %}active{% endif %}">
                        <a href="{{ slider.url }}" class="text-black text-decoration-none">
                            <img src="{{ slider.image.url }}" class="d-block w-100 rounded" alt="Slider">
                        </a>
                      </div>
                    {% endfor %}



                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </section>
        <section id="groping">
            <h5 class="text-center py-2 fs-5"> دسته بندی ها</h5>
            <div class="conteiner mx-auto justify-content-center ">
                <div class="row  py-3">

                    {% for mainCategory1 in maincategories1 %}
                        <div class="col-lg-2 col-md-4 col-s-6 text-center">
                            <div class="images">
                                <a href="" class="text-black text-decoration-none">
                                    <img src="{{ mainCategory1.image.url }}" class="w-100 " alt="{{ mainCategory1.name }}">
                                    <h6 class="text-center pt-2" >
                                     {{ mainCategory1.name }}
                                    </h6>
                                </a>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
        <section id="product">
            <div class="conteiner mx-auto justify-content-around py-3">
                <div class="row">
                    {% for mainCategory2 in maincategories2 %}
                        <div class="col-lg-3 col-md-6">
                            <div class="item">
                                <div class="card text-Secondary">
                                    <a href="" class="text-black text-decoration-none" class="text-black text-decoration-none">
                                        <img src="{{ mainCategory2.image.url }}" class="card-img w-100" alt="{{ mainCategory2.name }}">
                                    <div class="card-img-overlay">
                                      <h5 class="card-title text-center d-none">{{ mainCategory2.name }}
                                          <i class="fa fa-angle-left d-none"></i>
                                      </h5>
                                    </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </section>
        <section id="content ">
            <h5 class="pt-4 pb-2 mx-2 " style="text-align: center">محصولات</h5>
            <div class="conteiner mx-auto py-2 text-center">
                <div class="row">


                    {% for product in products %}
                        <div class="col">
                            <div class="card" style="width: 19rem;">
                                <a href="{% url 'Taksathi:products_detail_page' product.id product.slug %}" class="text-black text-decoration-none" class="text-black text-decoration-none" >
                                    <img src="{{ product.image.url }}" class="card-img-top rounded" alt="{{ product.title }}">
                                    <div class="card-body">
                                      <p class="card-text">{{ product.title }} </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>
    </main>
{% endblock %}